* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: black;

}

.container-flex-left i,
.container-flex-right i{
  font-size: 34px;
}
/* ----main  */

.cont-init{
  display: flex;
  flex-direction: row-reverse;
}

#view,
#arrows{
  margin: 20px 5px 0 ;
  background-color: grey;
  padding: 5px;
  color: white;
  border-radius: 5px;
}

.container-flex-tot{
    display: flex;
    justify-content: center;
    padding: 33.5px 0;
    
}

.container-flex-left{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    color: white;
    width: 5%;
    align-items: center;

}

.container-flex-main{
    height: calc(100vh - 120px) ;
    width: 90%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 2;
}

 .container-flex-main div{
    position: relative;
    margin: 5px 2px;
}
 .container-flex-main div p{
    position: absolute;
    bottom: 10px;
    left: 30px;
    font-weight: 600;
}

.red {
    color: red;
    position: absolute;
    font-weight: 600;
    font-size: 32px;
    bottom: 5px;
    left: 10px;
}

.microphone{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 20px;
}

img{
    height: 190px;
}

.nome-cognome{
  color: white;
  
}

.container-flex-right{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    color: white;
    width: 5%;
  }

  .container-flex-right i {
    color: cornflowerblue;
  } 
/* ---footer  */

footer{
    color: white;
    background-color:#212324 ;

}

.container-flex {
  display: flex;
}

.cont-video i {
  font-size: 24px;
  margin-bottom: 7px;
}

.chevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chevron i {
  font-size: 20px;
}

.left-foot {
  width: 15%;
  display: flex;
  padding: 0 15px;
}

.cont-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}



.main-foot {
  width: calc(100% - 25%);
  display: flex;
  padding: 0 30px;
  justify-content: center;

}

.active i{
    color: green;
}

.main-foot .cont-video{
    padding:0 30px
}
.right-foot {
  width: 10%;
  background-color:#4a4b4d ;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.end
{
    font-weight: 600;
    color: tomato;
    padding-right: 20px;
}

.cont-video
{
  margin: 10px 0;
}

/* ----debug */

.debug .container-flex {
  /* height: 100px; */
  background-color: red;
}

.debug div {
  /* width: 100%; */
  background-color: tomato;
}

.debug .left-foot {
  background-color: yellow;
}

.debug .main-foot {
  background-color: green;
}
