* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ---footer  */

footer{
    color: white;
    background-color:#212324 ;

}

.container-flex {
  display: flex;
}

.cont-video i {
  font-size: 34px;
}

.chevron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chevron i {
  font-size: 20px;
}

.left-foot {
  width: 15%;
  display: flex;
  padding: 0 15px;
}

.cont-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}



.main-foot {
  width: calc(100% - 25%);
  display: flex;
  padding: 0 30px;
  justify-content: center;

}

.active i{
    color: green;
}

.main-foot .cont-video{
    padding:0 30px
}
.right-foot {
  width: 10%;
  background-color:#4a4b4d ;
  display: flex;
  justify-content: flex-end;
  align-items: center;

}

.end
{
    font-weight: 600;
    color: tomato;
}

/* ----debug */

.debug .container-flex {
  /* height: 100px; */
  background-color: red;
}

.debug div {
  /* width: 100%; */
  background-color: tomato;
}

.debug .left-foot {
  background-color: yellow;
}

.debug .main-foot {
  background-color: green;
}
